<form action="/newapplication/documents" method="post">
<div class="container">
<p><strong>Upload your documents</strong></p><br>
     <div class="row">
        <div class="col-md-2">W2</div>
        <div class="col-md-2"><input type="string" name="w2"/></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Upload"/></div>
    </div>
</div>
  
</form>
