<div class="container">
	<div class="row">
 		<div class="col-md-12 text-center"><strong>Your Employment History from LinkedIn:</strong></div>
 	</div>
<br>
<br>
<br>
	<div class="row"><%= @applicant.company1 %></div>
<br>
	<div class="row"><%= @applicant.company2 %></div>
<br>
	<div class="row"><%= @applicant.company3 %></div>
<br>
 	<div class="row">
 		<div class="col-md-12"><i>If you need to make any changes to your employment history, please update your profile on LinkedIn or manually enter your information </i><a href="/newapplication/employment_manual">here</a></div>
 	</div>

</div>