<div class="container">
	<div class="row">
 		<div class="col-md-12 text-center"><strong>Please provide your employment history for the last two years:</strong></div>
 	</div>
<br>
<br>
<form action="/newapplication/create_employment_manual" method="post">
 	<div class="row">
    	<div class="col-md-2">Current Employment:</div>
    	<div class="col-md-3"><input type="string" name="company1" placeholder="Company" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="position1" placeholder="Position" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="length1" placeholder="Length of Employment" class="input-custom"/></div>
    </div>
    <br>
     <div class="row">
    	<div class="col-md-2">Prior Employment:</div>
    	<div class="col-md-3"><input type="string" name="company2" placeholder="Company" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="position2" placeholder="Position" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="length2" placeholder="Length of Employment" class="input-custom"/></div>
    </div>
	<br>
	 <div class="row">
    	<div class="col-md-2">Prior Employment:</div>
    	<div class="col-md-3"><input type="string" name="company3" placeholder="Company" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="position3" placeholder="Position" class="input-custom"/></div>
    	<div class="col-md-3"><input type="string" name="length3" placeholder="Length of Employment" class="input-custom"/></div>
	</div>
  <br>
  <div class="row">
  		<div class="col-md-2"></div>
      <div class="col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Save"/></div>
  </div>
</form>

</div>