<div class="container">
 	<div class="row">
 		<div class="col-md-7 text-center"><strong>Welcome to your Saver Advantage Mortgage Application!</strong></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="/newapplication/general_info">General Info</a></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="/newapplication/employment">Employment Info - LinkedIn Upload</a></div>
 	</div>
 	<br>
 	 <div class="row">
 		<div class="col-md-3"><a href="/newapplication/employment_manual">Employment Info - Manual Entry</a></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="/newapplication/declarations">Declarations</a></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="/newapplication/documents">Upload Documents</a></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="#">Authorize Credit Report</a></div>
 	</div>
 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="/newapplication/financials">Compile Financial Information</a></div>
 	</div>
 	 	<br>
 	<div class="row">
 		<div class="col-md-3"><a href="newapplication/summary">Summary</a></div>
 	</div>
</div>