<form action="/saveradvantage/login" method="post">
<div class="container">
<p><strong>Sign in</strong></p>	
	<div class="row">
    	<div class="col-md-1">E-mail:</div>
    	<div class="col-md-3"><input type="text" name="email" class="input-custom"/></div><br>
    </div>
	<div class="row">
    	<div class="col-md-1">Password: </div>
    	<div class="col-md-3"><input type="password" name="password" class="input-custom"/></div><br>
    </div>
<input type="submit" class="btn btn-primary" value="Sign in"/>
</div>
</form>