<head>
<style type="text/css">
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>
</head>
<body>
  
 <div class="main">
    <div data-page-name="Home" class="section">
    <h1>Saver Advantage</h1>
    <br>
    <h3>Close Escrow in 14 Days</h3>
    </div>
 </div>

<div class="row">
  <div class="col-md-4 text-justify">
    <h3>Who We Serve</h3>
    <p>Prospective homebuyers who live within their means and save money and are in search of a stress-free mortgage experience</p>
  </div>
  <div class="col-md-4">
    <h3>How We Do It</h3>
    <p>We use data from bank, investment and retirement accounts to your advantage and complete analysis of your fnances prior to escrow</p>
 </div>
  <div class="col-md-4">
    <h3>What We Do Better</h3>
    <p>We teach you what and how needs to get done in purchasing a house and establish direct communication between you and underwriter to resolve any issues fast</p>
  </div>

  <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 text-center"><a class="btn btn-primary btn-block" href="saveradvantage/saver">Are You a Saver?</a>
<p><i>Find out if you are eligible to apply for a Saver Advantage mortgage</i></p></div>
<div class="col-md-2"></div>
  </div>

</body>



