<form action="/property/display" method="post">
<div class="container">
	<p><strong>Enter address of the property you are interested in:</strong></p>
	<div class="row">
    	<div class="col-md-2">Street Adress:</div>
    	<div class="col-md-3"><input type="text" placeholder="e.g. 1000 Wilshire Blvd" name="street" class="input-custom"/></div><br>
    </div>
	<div class="row">
    	<div class="col-md-2">City, Zip: </div>
    	<div class="col-md-3"><input type="text" name="cityzip" placeholder="e.g. Los Angeles, CA" class="input-custom"/></div><br>
    </div>
<input type="submit" class="btn btn-primary" value="Look-up Property"/>
</div>
</form>

