<h2>New Application</h2>

<div class="container">
 	<div class="row">
 		<div class="col-md-7 text-center"><strong>Declarations</strong></div>
 	</div>
 	<div class="row">
 		<div class="col-md-5"></div>
 		<div class="col-md-1">Yes</div>
 		<div class="col-md-1">No</div>
 	</div>
 	<div class="row">
 		<div class="col-md-5">a. Are there any outstanding judgments against you?</div>
 		<div class="col-md-1">
 			<div class="radio"><label>
    			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></label></div>
    	</div>
	<div class="col-md-1">
 			<div class="radio"><label>
    			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked></label></div>
    	</div>
	</div>

</div>